.env
data_bank

# Environment files
.env
airflow/.env
.env.*


# Virtual environment
venv/
.venv/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.db
airflow/unittests.cfg

# Data
data/
*.csv
*.parquet
*.json